@charset "UTF-8";

:root {
  /* font */
  --light: 300;
  --bold: 700;
  --exBold: 800;

  /* color */
  --gray1: #333;
  --gray2: #848484;
  --gray3: #ccc;
  --main1: #C49C31;
  --main2: #F6E4B2;
  --sub1: #823F24;
  --sub2: #BE8F7D;
}

/********** PC2 **********/

/* Common */

body {
  color: var(--gray1);
  font-family: NanumSquare, Manrope, sans-serif;
  line-height: 1;
}

.hide_txt {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Header */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  height: 120px;
  padding: 0 4%;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.05);
  background: #fff;
}

#header h1 a {
  display: block;
  width: 202px;
  height: 43px;
  background: url("../img/common/logo.png") no-repeat left / contain;
}

#header nav {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 120px;
  box-shadow: 0 5px 7px rgba(0, 0 ,0, 0.05);
  background: #fff;
}

#header #gnb {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 60px;
}

#header #gnb>li {
  position: relative;
  padding: 48px 0 12px;
  box-sizing: border-box;
}

#header #gnb>li>a {
  display: block;
  font-size: 24px;
  font-weight: var(--bold);
  white-space: nowrap;
}

#header #gnb .dep2 {
  display: none;
  gap: 50px;
  justify-content: center;
  position: absolute;
  left: -2000px;
  right: -2000px;
  bottom: -48px;
  transform: translateY(100%);
  font-size: 20px;
  line-height: 2;
}

#header #gnb .dep3 {
  display: none;
}

#header .util {
  display: flex;
  gap: 15px;
  align-items: center;
}

#header .util .lang {
  display: flex;
  gap: 15px;
}

#header .util .lang button {
  width: 8px;
  height: 8px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: translateY(2px) rotate(45deg);
}

#header .util .lang li:nth-child(1) a {
  cursor: auto;
  user-select: none;
}

#header .util .lang li:nth-child(2) {
  display: none;
}

#header .util .btn_search_open {
  width: 34px;
  height: 34px;
  background: url("../img/common/pc_ico_search.png") no-repeat;
  cursor: pointer;
}

#header .util .search_wrap {
  display: none;
  position: absolute;
  z-index: -2;
  left: 0;
  right: 0;
  top: 120px;
  height: 194px;
  padding: 60px 0;
  box-sizing: border-box;
  background: #fff;
}

#header .util .search_wrap .search_box {
  width: 100%;
  display: flex;
  justify-content: center;
}

#header .util .search_wrap input {
  display: block;
  width: 30%;
  height: 40px;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 16px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: var(--gray3);
}

#header .util .search_wrap button {
  width: 5%;
  height: 40px;
  background: var(--gray3);
  color: #fff;
}

#header .util .search_wrap .recent {
  width: 35%;
  margin: 20px auto 0;
  padding: 0 20px;
  box-sizing: border-box;
}

#header .util .search_wrap .recent ul {
  display: flex;
  gap: 30px;
}

#header .util .search_wrap .recent ul li {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
}

#header .util .search_wrap .recent ul li::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: url("../img/common/pc_ico_cancle.svg") no-repeat center;
  opacity: 30%;
  cursor: pointer;
}

#header .util .sns {
  display: flex;
  gap: 10px;
  align-items: center;
}

#header .util .sns li:nth-child(1) a {
  display: block;
  width: 28px;
  height: 28px;
  background: url("../img/common/pc_ico_sns_instagram.png") no-repeat;
}

#header .util .sns li:nth-child(2) a {
  display: block;
  width: 35px;
  height: 35px;
  background: url("../img/common/pc_ico_sns_youtube.png") no-repeat;
}

#header .util .sns li:nth-child(3) a {
  display: block;
  width: 28px;
  height: 28px;
  background: url("../img/common/pc_ico_sns_store.png") no-repeat;
}

#header .util .all_menu {
  display: none;
}

/* Footer */

#footer {
  padding: 50px 4%;
  background: #333;
}

#footer .address {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #fff;
  font-size: 14px;
  line-height: 1.7;
  font-weight: var(--bold);
}

#footer .address p {
  order: 1;
  text-align: right;
}

/* Index - Common */

#main .inner {
  width: 92%;
  margin: auto;
}

#main .swiper {
  overflow: hidden;
}

#main .swiper-button span {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
}

#main .swiper-button span::after {
  position: absolute;
  width: 15px;
  height: 15px;
  border-right: 3px solid var(--gray2);
  border-bottom: 3px solid var(--gray2);
  font-size: 0;
}

#main .swiper-button span:nth-child(1) {
  transform: translateX(50%) rotate(135deg);
}

#main .swiper-button span:nth-child(2) {
  transform: translate(-50%) rotate(-45deg);
}

#main .main_title_txt {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 40px;
}

#main .main_title_txt strong {
  font-size: 48px;
  font-weight: var(--exBold);
}

#main .main_title_txt a {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../img/common/pc_btn_more.png") no-repeat center;
}

/* Index - Visual */

#main .visual {
  position: relative;
  margin-top: 120px;
  overflow: hidden;
}

#main .visual .swiper-wrapper {
  display: flex;
  width: 400%;
}

#main .visual .swiper-slide {
  width: 25%;
}

#main .visual .swiper-slide a {
  flex-shrink: 0;
  display: block;
  width: 100%;
  height: 0;
  padding-top: 43%;
  padding-bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#main .visual .swiper-slide a.visual_img1 {
  background-image: url("../img/main/pc_main_visual1.jpg");
}

#main .visual .swiper-slide a.visual_img2 {
  background-image: url("../img/main/pc_main_visual2.jpg");
}

#main .visual .swiper-slide a.visual_img3 {
  background-image: url("../img/main/pc_main_visual3.jpg");
}

#main .visual .swiper-slide a.visual_img4 {
  background-image: url("../img/main/pc_main_visual4.jpg");
}

#main .visual .swiper-slide a.m_visual_img1,
#main .visual .swiper-slide a.m_visual_img2,
#main .visual .swiper-slide a.m_visual_img3,
#main .visual .swiper-slide a.m_visual_img4 {
  display: none;
}

#main .visual .swiper-button span {
  width: 40px;
  height: 40px;
}

#main .visual .swiper-button span::after {
  top: 0;
  bottom: auto;
  width: 40px;
  height: 40px;
  border-right: 7px solid #fff;
  border-bottom: 7px solid #fff;
  font-size: 0;
}

#main .visual .swiper-button span:nth-child(1) {
  left: 4%;
}

#main .visual .swiper-button span:nth-child(2) {
  right: 4%;
}

#main .visual .swiper-pagination {
  bottom: 20px;
}

#main .visual .swiper-pagination-bullet {
  border-radius: 0;
  width: 12px;
  height: 12px;
  margin: 5px;
  border: 2px solid #fff;
  background: 0;
}

#main .visual .swiper-pagination-bullet-active {
  background: #fff;
}

/* Index - Obs_info */

#main .obs_info {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 1fr 4fr 1fr 3fr;
  width: 92%;
  margin: auto;
  padding: 50px 0;
  border-bottom: 2px solid var(--gray3);
  box-sizing: border-box;
  font-size: 28px;
  white-space: nowrap;
}

#main .obs_info strong {
  display: flex;
  gap: 20px;
  font-weight: var(--exBold);
  box-sizing: border-box;
}

#main .obs_info strong::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
}

#main .obs_info strong:nth-of-type(1)::before {
  background: url("../img/main/pc_obs_info_ico_clock.png") no-repeat;
}

#main .obs_info strong:nth-of-type(2)::before {
  background: url("../img/main/pc_obs_info_ico_wallet.png") no-repeat;
}

#main .obs_info strong:nth-of-type(4)::before {
  background: url("../img/main/pc_obs_info_ico_map.png") no-repeat;
}

#main .obs_info span span {
  font-size: 22px;
  margin-left: 20px;
}

/* Index - Exhibition & Relic & Instagram */

#main .exhibition_txt,
#main .relic_txt,
#main .instagram_txt {
  position: relative;
}

#main .exhibition .swiper-button,
#main .relic .swiper-button,
#main .instagram .swiper-button {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 70px;
}

#main .exhibition .swiper-button span,
#main .relic .swiper-button span,
#main .instagram .swiper-button span {
  position: static;
  margin: 0;
}

#main .exhibition .swiper,
#main .relic .swiper,
#main .instagram .swiper {
  width: 100%;
}

#main .exhibition .swiper-wrapper,
#main .relic .swiper-wrapper,
#main .instagram .swiper-wrapper {
  display: flex;
  width: calc((((100% - 90px) / 4) * 5) + (30 * 4px));
}

#main .exhibition .swiper-slide,
#main .relic .swiper-slide,
#main .instagram .swiper-slide {
  flex-shrink: 0;
  width: calc((100% / 5) - (120px / 5));
  margin-right: 30px;
}

#main .exhibition .swiper-slide a,
#main .relic .swiper-slide a ,
#main .instagram .swiper-slide a,
#main .youtube .swiper-slide a {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Index - Exhibition */

#main .exhibition .inner {
  margin: 100px auto 150px;
}

#main .exhibition .swiper-slide a {
  width: 100%;
  height: 0;
  padding-top: 150%;
}

#main .exhibition .swiper-slide .exhibition_poster1 {
  background-image: url("../img/main/exhibition_poster1.jpg");
}

#main .exhibition .swiper-slide .exhibition_poster2 {
  background-image: url("../img/main/exhibition_poster2.jpg");
}

#main .exhibition .swiper-slide .exhibition_poster3 {
  background-image: url("../img/main/exhibition_poster3.jpg");
}

#main .exhibition .swiper-slide .exhibition_poster4 {
  background-image: url("../img/main/exhibition_poster4.jpg");
}

#main .exhibition .swiper-slide .exhibition_poster5 {
  background-image: url("../img/main/exhibition_poster5.jpg");
}

/* Index - Notice */

#main .notice {
  position: relative;
  background: rgba(196, 156, 49, 0.15);
  height: 82px;
}

#main .notice_wrap {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 24px;
}

#main .notice_wrap ul li a {
  display: block;
  font-size: 24px;
  text-align: center;
  font-weight: var(--bold);
}

#main .notice .btns_arrow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 24px;
  padding-left: 72.5%;
  box-sizing: border-box;
}

#main .notice .btns_arrow button {
  width: 10px;
  height: 10px;
  margin-left: 30px;
  border-right: 2px solid var(--gray2);
  border-bottom: 2px solid var(--gray2);
}

#main .notice .btns_arrow .prev {
  transform: rotate(-135deg);
}

#main .notice .btns_arrow .next {
  transform: rotate(45deg);
}

/* Index - Experience */

#main .experience .inner {
  display: flex;
  align-items: flex-start;
  margin: 150px auto 0;
}

#main .experience .experience_txt {
  width: 450px;
}

#main .experience ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 1320px;
}

#main .experience ul li {
  position: relative;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--gray3);
}

#main .experience ul li button {
  width: 120px;
  height: 30px;
  margin-right: 40px;
  padding: 5px 15px;
  border-radius: 15px;
  border: 1px solid var(--sub2);
  box-sizing: border-box;
  color: var(--sub2);
  font-size: 20px;
  font-weight: var(--bold);
  cursor: auto;
}

#main .experience ul li button.on {
  background: var(--sub1);
  color: #fff;
}

#main .experience ul li strong {
  font-size: 22px;
  font-weight: var(--bold);
}

#main .experience ul li p {
  display: none;
}

#main .experience ul li span {
  position: absolute;
  right: 0;
  top: calc((100% - 30px) / 2);
  transform: translateY(-50%);
  font-size: 20px;
}

/* Index - Relic */

#main .relic .inner {
  margin: 150px auto 200px;
}

#main .relic .swiper-slide a {
  width: 100%;
  height: 0;
  padding-top: 100%;
}

#main .relic .swiper-slide .relic_img1 {
  background-image: url("../img/main/relic_img1.jpg");
}

#main .relic .swiper-slide .relic_img2 {
  background-image: url("../img/main/relic_img2.jpg");
}

#main .relic .swiper-slide .relic_img3 {
  background-image: url("../img/main/relic_img3.jpg");
}

#main .relic .swiper-slide .relic_img4 {
  background-image: url("../img/main/relic_img4.jpg");
}

#main .relic .swiper-slide .relic_img5 {
  background-image: url("../img/main/relic_img5.jpg");
}

#main .relic .swiper-slide .relic_img6 {
  background-image: url("../img/main/relic_img6.jpg");
}

#main .relic .swiper-slide .relic_img7 {
  background-image: url("../img/main/relic_img7.jpg");
}

/* Index - Youtube */

#main .youtube {
  position: relative;
  width: 100%;
  margin: auto;
  padding-top: 90px;
}

#main .youtube_txt {
  position: absolute;
  left: 4%;
  top: -40px;
  margin: 0;
}

#main .youtube .swiper-wrapper {
  display: flex;
  transition-timing-function: linear;
  width: calc((((100% - 60px) / 3) * 3) + (30 * 2px));
}

#main .youtube .swiper-slide {
  flex-shrink: 0;
  width: calc((100% / 3) - (60px / 3));
}

#main .youtube .swiper-slide a {
  width: 100%;
  height: 0;
  padding-top: 56%;
}

#main .youtube .swiper-slide .youtube_thumb1 {
  background-image: url("../img/main/youtube_thumb1.jpg");
}

#main .youtube .swiper-slide .youtube_thumb2 {
  background-image: url("../img/main/youtube_thumb2.jpg");
}

#main .youtube .swiper-slide .youtube_thumb3 {
  background-image: url("../img/main/youtube_thumb3.jpg");
}

/* Index - Instagram */

#main .instagram .inner {
  margin: 200px auto;
}

#main .instagram .swiper-slide a {
  width: 100%;
  height: 0;
  padding-top: 100%;
}

#main .instagram .swiper-slide .instagram_img1 {
  background-image: url("../img/main/instagram_img1.jpg");
}

#main .instagram .swiper-slide .instagram_img2 {
  background-image: url("../img/main/instagram_img2.jpg");
}

#main .instagram .swiper-slide .instagram_img3 {
  background-image: url("../img/main/instagram_img3.jpg");
}

#main .instagram .swiper-slide .instagram_img4 {
  background-image: url("../img/main/instagram_img4.jpg");
}

#main .instagram .swiper-slide .instagram_img5 {
  background-image: url("../img/main/instagram_img5.jpg");
}

/* Map */

#main .map .inner {
  margin: 0 auto 200px;
}

#main .map .map_wrap {
  display: flex;
}

#main .map_txt {
  width: 50%;
  position: relative;
  font-size: 20px;
}

#main .map_txt span {
  position: absolute;
  top: 0;
}

#main .map_txt span:nth-child(1) {
  left: 0;
}

#main .map_txt span:nth-child(2) {
  right: 0;
}

#main .map_txt span b {
  margin-right: 20px;
  font-weight: var(--bold);
}

#main .map_txt_box {
  height: 420px;
  margin-top: 50px;
  background: rgba(204, 204, 204, 0.25);
}

#main .map_txt_box .btns_map {
  display: flex;
  gap: 30px;
  position: absolute;
  top: 90px;
  left: 60px;
  right: 60px;
}

#main .map_txt_box .btns_map button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--gray3);
  background: #fff;
  color: var(--gray3);
}

#main .map_txt_box .btns_map button.on {
  border: 1px solid var(--sub1);
  background: var(--sub1);
  color: #fff;
}

#main .map_txt_box .map_list {
  padding: 120px 60px 40px;
  font-size: 18px;
  line-height: 1.5;
}

#main .map_txt_box .map_list>li:nth-child(n+2) {
  display: none;
}

#main .map_txt_box .map_list .bus ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#main .map_txt_box .map_list .bus ul li {
  display: flex;
  align-items: flex-start;
  height: 25px;
}

#main .map_txt_box .map_list li b {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 180px;
  box-sizing: border-box;
  font-weight: var(--bold);
}

#main .map_txt_box .map_list li b::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  margin-right: 8px;
  border-radius: 50%;
  background: #333;
}

#main .map_txt_box .map_list .subway b,
#main .map_txt_box .map_list .car b {
  width: auto;
}

#main .map_txt_box .map_list p {
  padding-left: 14px;
  margin-top: 10px;
  line-height: 1.5;
}

#main .map_box {
  width: 50%;
}

#main .map_box .map_links {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}

#main .map_box .map_links a {
  display: block;
  width: 30px;
  height: 30px;
  box-shadow: 0 2px 3px var(--gray3);
}

#main .map_box .map_links a:nth-child(1) {
  background: url("../img/main/map_ico1.png") no-repeat center/contain;
}

#main .map_box .map_links a:nth-child(2) {
  background: url("../img/main/map_ico2.png") no-repeat center/contain;
}

#main .map_box #daumRoughmapContainer1706600724134 {
  width: auto !important;
}

#main .map_box #daumRoughmapContainer1706600724134 .wrap_map {
  border-left: 5px solid rgba(204, 204, 204, 0.5);
  height: 420px !important;
}

#main .map_box .root_daum_roughmap .map_border,
#main .map_box .root_daum_roughmap .wrap_controllers {
  display: none;
}

/********** PC1 **********/

@media screen and (max-width: 1920px) {

  /* Header */

  #header #gnb>li>a {
    font-size: 20px;
  }
  
  /* Index - Common */

  #main .main_title_txt strong {
    font-size: 40px;
  }

  /* Index - Obs_info */

  #main .obs_info {
    font-size: 24px;
  }

  #main .obs_info span span{
    font-size: 18px;
  }

  /* Index - Notice */

  #main .notice_wrap {
    height: 22px;
  }

  #main .notice_wrap ul li a {
    font-size: 22px;
  }

  #main .notice .btns_arrow {
    height: 22px;
  }

  /* Index - Experience */
    
  #main .experience ul li button {
    margin-right: 30px;
    font-size: 18px;
  }

  #main .experience ul li strong {
    font-size: 20px;
  }

  #main .experience ul li span {
    font-size: 18px;
  }

  /* Map */

  #main .map_txt {
    font-size: 18px;
  }
  
  #main .map_txt_box .map_list {
    padding: 120px 60px 40px;
    font-size: 16px;
  }
  
  #main .map_txt_box .map_list .bus ul {
    gap: 18px;
  }
}

/********** Tab **********/
@media screen and (max-width: 1450px) {

  /* Header */

  #header {
    height: 90px;
  }

  #header h1 a {
    width: 181.8px;
    height: 38.7px;
  }

  #header nav {
    display: none;
  }

  #header #gnb {
    display: none;
  }

  #header .util {
    gap: 10px;
  }

  #header .util .lang {
    gap: 7px;
    align-items: center;
  }

  #header .util .lang button {
    width: 27px;
    height: 27px;
    border: 0;
    background: url("../img/common/m_ico_language.svg") no-repeat center;
    transform: none;
  }

  #header .util .lang li:nth-child(1) {
    display: none;
  }

  #header .util .lang li:nth-child(2) {
    display: none;
    cursor: auto;
    user-select: none;
  }
  
  #header .util .btn_search_open {
    display: none;
    width: 27px;
    height: 27px;
    background: url("../img/common/m_ico_search.png") no-repeat;
  }

  #header .util .search_wrap {
    top: 90px;
    z-index: -2;
  }

  #header .util .all_menu {
    display: block;
    width: 27px;
    height: 27px;
    background: url("../img/common/m_ico_all_menu.png") no-repeat center;
  }

  #header .util .sns {
    display: none;
  }

  /* Footer */

  @media screen and (max-width: 750px) {
    #footer .address {
      gap: 20px;
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    #footer .address p {
      text-align: left;
    }
  }

  /* Index - Common */

  #main .main_title_txt strong {
    font-size: 34px;
  }

  /* Index - Visual */

  #main .visual {
    margin-top: 90px;
  }

  @media screen and (max-width: 750px) {
    #main .visual .swiper-slide a {
      flex-shrink: 0;
      display: block;
      width: 100%;
      height: 0;
      padding-top: 106%;
      padding-bottom: 0;
    }

    #main .visual .swiper-slide a.m_visual_img1,
    #main .visual .swiper-slide a.m_visual_img2,
    #main .visual .swiper-slide a.m_visual_img3,
    #main .visual .swiper-slide a.m_visual_img4 {
      display: block;
    }

    #main .visual .swiper-slide a.m_visual_img1 {
      background-image: url("../img/main/m_main_visual1.jpeg");
    }
  
    #main .visual .swiper-slide a.m_visual_img2 {
      background-image: url("../img/main/m_main_visual2.jpeg");
    }
  
    #main .visual .swiper-slide a.m_visual_img3 {
      background-image: url("../img/main/m_main_visual3.jpeg");
    }
  
    #main .visual .swiper-slide a.m_visual_img4 {
      background-image: url("../img/main/m_main_visual4.jpeg");
    }
  
    #main .visual .swiper-slide a.visual_img1,
    #main .visual .swiper-slide a.visual_img2,
    #main .visual .swiper-slide a.visual_img3,
    #main .visual .swiper-slide a.visual_img4 {
      display: none;
    }
  }
  
  #main .visual .swiper-button span {
    width: 20px;
    height: 20px;
  }

  @media screen and (max-width: 750px) {
    #main .visual .swiper-button span {
      display: none;
    }
  }

  #main .visual .swiper-button span::after {
    width: 20px;
    height: 20px;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
  }

  #main .visual .swiper-pagination {
    bottom: 10px;
  }

  @media screen and (max-width: 750px) {
    #main .visual .swiper-pagination {
      width: max-content;
      left: auto;
      right: 20px;
      bottom: 20px;
    }
  }
  
  #main .visual .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 3px;
  }
  
  @media screen and (max-width: 750px) {
    #main .visual .swiper-pagination-bullet {
      width: 4px;
      height: 4px;
      margin: 3px;
    }
  }

  #main .visual .swiper-pagination-bullet-active {
    background: #fff;
  }

  /* Index - Obs_info */

  #main .obs_info {
    row-gap: 18px;
    grid-template-columns: 200px auto;
    grid-template-areas:
    ". ."
    "a b"
    ". ."
    ". .";
    width: 100%;
    padding: 30px 4%;
    font-size: 22px;
  }

  #main .obs_info strong:nth-of-type(3) {
    grid-area: a;
  }
  
  #main .obs_info>span:nth-of-type(3) {
    grid-area: b;
  }

  #main .obs_info span span {
    display: block;
    margin: 14px 0 0 0;
    font-size: 16px;
  }

  /* Index - Exhibition & Relic * Instagrm */

  #main .exhibition .swiper-wrapper,
  #main .relic .swiper-wrapper,
  #main .instagram .swiper-wrapper {
  display: flex;
  width: calc((((100% - 60px) / 3) * 5) + (30 * 4px));
  }

  /* Index - Exhibition */

  #main .exhibition .inner {
    margin: 80px auto 100px;
  }

  /* Index - Notice */

  #main .notice_wrap {
    height: 20px;
  }

  #main .notice_wrap ul li a {
    font-size: 20px;
  }

  #main .notice .btns_arrow {
    height: 20px;
  }

  /* Index - Relic */

  #main .relic .inner {
    margin: 100px auto 134px;
  }

  /* Index - Experience */
  
  #main .experience .inner {
    display: block;
    margin: 100px auto 0;
  }

  #main .experience .experience_txt {
    width: auto;
  }

  #main .experience ul {
    width: auto;
  }

  #main .experience ul li button {
    width: 100px;
    height: 26px;
    border-radius: 13px;
    margin-right: 20px;
    font-size: 16px;
  }

  #main .experience ul li strong {
    font-size: 18px;
  }

  #main .experience ul li p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    padding: 20px 10px 0 10px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  #main .experience ul li span {
    display: none;
  }

  /* Index - Youtube */

  #main .youtube {
    padding-top: 40px;
  }

  #main .youtube_txt {
    top: -34px;
  }

  /* Index - Instagram */

  #main .instagram .inner {
    margin: 100px auto;
  }
  
  /* Map */

  #main .map .inner {
    margin: 0 auto 100px;
  }

  #main .map .map_wrap {
    flex-direction: column;
  }

  #main .map_txt {
    width: auto;
  }

  #main .map_txt span {
    position: static;
    display: block;
  }

  #main .map_txt span:nth-child(2) {
    padding-top: 15px;
  }

  #main .map_txt_box {
    margin-top: 20px;
  }

  #main .map_txt_box .btns_map {
    position: absolute;
    top: 111px;
    left: 60px;
    display: flex;
    gap: 30px;
  }
  
  @media screen and (max-width: 750px) {
    #main .map_txt_box .btns_map {
      gap: 15px;
    }
    
    #main .map_txt_box .btns_map button {
      width: 120px;
    }

    #main .map_txt_box .btns_map button.on {
      width: 120px;
    }

    #main .map_txt_box .map_list li b {
      width: 120px;
    }
  }

  #main .map_box {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
    width: auto;
    margin-top: 20px;
  }

  #main .map_box .map_links {
    margin: 20px 0 0;
  }
  
  #main .map_box .map_links a {
    width: 40px;
    height: 40px;
  }
  
  #main .map_box #daumRoughmapContainer1706600724134 .wrap_map {
    border-left: 0;
  }
}

/********** Mobile **********/
@media screen and (max-width: 550px) {

  /* Index - Common */

  #main .swiper-button span::after {
    display: none;
  }

  #main .main_title_txt {
    justify-content: space-between;
  }

  #main .main_title_txt strong {
    font-size: 28px;
  }
  
  /* Index - Exhibition & Relic * Instagrm */

  #main .exhibition .swiper-wrapper,
  #main .relic .swiper-wrapper,
  #main .instagram .swiper-wrapper {
  display: flex;
  width: calc((((100% - 30px) / 2) * 5) + (30 * 4px));
  }

  /* Index - Obs_info */

  #main .obs_info {
    font-size: 18px;
    grid-template-columns: 140px auto;
  }

  #main .obs_info strong {
    gap: 10px;
  }

  #main .obs_info strong::before {
    width: 22px;
    height: 22px;
  }

  #main .obs_info span span {
    margin-top: 10px;
    font-size: 14px;
  }

  /* Index - Notice */

  #main .notice_wrap {
    height: 16px;
  }

  #main .notice_wrap ul li a {
    font-size: 16px;
    text-decoration: underline;
  }

  #main .notice .btns_arrow {
    display: none;
  }

  /* Index - Experience */
  
  #main .experience ul li button {
    margin-right: 10px;
  }

  /* Map */

  #main .map_txt {
    font-size: 16px;
  }
  
  #main .map_txt_box .map_list li b {
    width: 90px;
  }

  #main .map_txt_box {
    min-height: 338px;
    margin-top: 20px;
  }

  #main .map_txt_box .btns_map {
    top: 105px;
    left: 30px;
    right: auto;
    gap: 20px;
  }

  #main .map_txt_box .btns_map button {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid var(--gray3);
    background: #fff;
    color: var(--gray3);
  }

  #main .map_txt_box .map_list {
    padding: 90px 30px 30px;
    font-size: 16px;
  }

  #main .map_txt_box .map_list li b::before {
    width: 3px;
    height: 3px;
    margin-right: 8px;
  }
}